body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vw;
    display: flex;
    justify-content: center;
}

p {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}